
HRFLOW_API_KEY=
HRFLOW_BASE_URL=
HRFLOW_SOURCE_KEY=
HRFLOW_BOARD_KEY=

OPEN_SOURCE_LLM_API_KEY=
OPEN_SOURCE_LLM_BASE_URL=
OPEN_SOURCE_LLM_MODEL=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=


VITE_HRFLOW_API_KEY=
VITE_HRFLOW_USER_EMAIL=
VITE_HRFLOW_SOURCE_KEY=
VITE_ELEVENLABS_API_KEY=
VITE_ELEVENLABS_VOICE_ID=
