# HrFlow
HRFLOW_API_KEY=ask_d2055968eae428d9444f5de212e9d516
HRFLOW_USER_EMAIL=nabil.chartouni@epita.fr
HRFLOW_SOURCE_KEY=da13ffd3b3fe72839848d91144b4e39d5cba2819   # where parsed profiles are stored

# Claude / Anthropic
ANTHROPIC_API_KEY=71247b86-531c-46c5-abf8-8f9c72d16a48
